<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @resource.message %>
    </p>
    <p>
      Email from:  <%= @resource.email %>
    </p>
  </body>
</html>
